@{

	var dashboard = ViewBag.Dashboard as Dashboard;
	ViewBag.Title = dashboard.Title;

	var graphs = ViewBag.Graphs as List<Graph>;

	var graphsJson = Newtonsoft.Json.JsonConvert.SerializeObject(graphs);
	var dashboardJson = Newtonsoft.Json.JsonConvert.SerializeObject(dashboard);
}

<div class="dashboard ">
	<h2 class="dashboard-title">@dashboard.Title</h2>


	<div class="graph-holder grid-stack">
	
	
	</div>


</div>

@Html.Partial("Templates/GraphModal")
@Html.Partial("Templates/Graph")


<div class="defaults">
	<pre class="default-sql">
SELECT COUNT(*) as request_count
FROM dyn.request
WHERE _at_ > DATEADD(DAY, -1, GETUTCDATE())
	</pre>

	<pre class="default-html">
<div class="graph-inner">
	<small>Requests today</small>
	<h2 class="requests-today"></h2>
</div>
	</pre>

	<pre class="default-js">
function(data, $component){
	$component.find(".requests-today").text(data.Rows[0].request_count);
}
	</pre>
</div>


<script type="text/javascript">
	MungOnLoader(function () {
		var dashboard = $(".dashboard").mungDashboard(
			@Html.Raw( dashboardJson ),
			@Html.Raw(graphsJson)
		);
	});
</script>